html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8DF1F;
}

li {
    float: left;
}

li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: red;
}

.active {
    background-color: #04AA6D;
}
.containBanner {
    margin: 0;
   
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/banner-bg.png");
    
    justify-content: center;
  
    background-repeat: no-repeat;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
}

.banner {
    justify-content: center;
}

.footer {
 
    height: 150px;
    background-color: white;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.col-6 {
    background-color: #F3F3F7;
    max-width: 100%;

}
