

@font-family: 'font-family: 'Roboto', sans-serif;';
@colorOne:#050500;
@colorTwo:#F8DF1F;
button.x {
    font-family: 'font-family: 'Roboto', sans-serif;';
    font-size: 1rem;
    color: @colorOne;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #F8DF1F;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: hidden;
}



html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8DF1F;
   
}

li {
    float: left;
}

li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: @font-family;
    font-size: 1rem;
    font-weight: 500;
}

li:hover:not(.active) {
    color: red;
   
}

li:hover:not(.active) {
    background-color: red;

}

.active {
    background-color: #04AA6D;
}

.containBanner {
  width: 100%;
    height: 500px;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/banner-bg.png");
    justify-content: center;
    font-family: @font-family;
    background-repeat: no-repeat;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-fluid {
    text-align: left;
    max-width: 100%;
    font-family: @font-family;
    font-size: 1rem;
    font-weight: 400;
}


.banner {
    justify-content: center;
    margin-top: 10%;
}


.footer {
    height: 150px;
    background-color: black;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100%;
}

.col-6 {
    background-color: #F3F3F3;
   
}

span {
    color: red;
}

